{% extends 'base.html' %}
{% load static %}

{% block layout %}
  <style>
    body { background-image: url('{% static "media/auth/bg7.jpg" %}'); } [data-theme="dark"] body { background-image: url('{% static "media/auth/bg7-dark.jpg" %}'); }
  </style>
  <div class="d-flex flex-column flex-center flex-column-fluid">
    <div class="d-flex flex-column flex-center text-center p-10">
      <div class="card card-flush w-lg-650px py-5">
        <div class="card-body py-15 py-lg-20">
          <h1 class="fw-bolder fs-2hx text-gray-900 mb-4">Requisição incorreta!</h1>
          <div class="fw-semibold fs-6 text-gray-500 mb-7">O servidor não pode atender a esta requisição.</div>
          <div class="mb-3">
            <img src="{% static 'media/illustrations/unitedpalms-1/9.png' %}" class="mw-100 mh-300px theme-light-show" alt="">
            <img src="{% static 'media/illustrations/unitedpalms-1/9-dark.png' %}" class="mw-100 mh-300px theme-dark-show" alt="">
          </div>
          <div class="mb-0">
            <a href="{% url 'home' %}" class="btn btn-sm btn-primary">Voltar ao início</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock layout %}
