<div class="modal fade" tabindex="-1" id="kt_modal_1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Importação de Eixos</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Fechar">
                    <i class="fa-solid fa-xmark"></i><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <form class="form">
                    {% csrf_token %}
                    <div class="fv-row">
                        <div class="dropzone" id="kt_dropzone_file">
                            <div class="dz-message needsclick">
                                <div class="ms-4">
                                    <h3 class="fs-5 fw-bold text-gray-900 mb-1">Arraste o arquivo aqui ou clique aqui!</h3>
                                    <span class="fs-7 fw-semibold text-gray-400">Somente arquivos .csv</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                        <button id="submit" data-csrf="{{ csrf_token }}" type="submit" class="btn btn-primary">Importar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
