{% extends 'layout/_default.html' %}
{% load i18n static %}

{% block layout-style %}
<div class="d-flex flex-column flex-center flex-column-fluid">
    <style>body { background-image: url('{% static 'media/auth/bg9.jpg' %} '); }</style>

    <!--begin::Content-->
    <div class="d-flex flex-column flex-center text-center p-10">
        <!--begin::Wrapper-->
        <div class="card card-flush w-lg-650px py-5">
            <div class="card-body py-15 py-lg-20">
                <!--begin::Logo-->
                <div class="mb-14">
                    <span class="">
                        <img alt="Logo" src="{% static 'media/logos/biopark-default.png' %}" class="h-80px">
                    </span>
                </div>
                <!--end::Logo-->
                <!--begin::Title-->
                <h1 class="fw-bolder text-gray-900 mb-5">Senha alterada com sucesso!</h1>
                <!--end::Title-->
                <!--begin::Message-->
                <div class="fs-6 fw-semibold text-gray-500 mb-10">Sua senha foi alterada com sucesso. Você pode acessar a área logada do Biopark Search!</div>
                <!--end::Message-->
                <!--begin::Link-->
                <div class="mb-11">
                    <a href="{% url 'login' %}" class="btn btn-sm btn-primary">Login</a>
                </div>
                <!--end::Link-->
                <!--begin::Illustration-->
                <div class="mb-0">
                    <img src="{% static 'media/auth/ok.png' %}" class="mw-100 mh-300px theme-light-show" alt="Sucesso">
                </div>
                <!--end::Illustration-->
            </div>
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Content-->
</div>
{% endblock layout-style %}
