{% extends 'layout/_default.html' %}
{% load i18n static %}

{% block layout-style %}
<div class="d-flex flex-column flex-center flex-column-fluid">
    <style>body { background-image: url('{% static 'media/auth/bg9.jpg' %} '); }</style>

    <!--begin::Content-->
    <div class="d-flex flex-column flex-center text-center">
        <!--begin::Wrapper-->
        <div class="card card-flush w-lg-600px">
            <div class="card-body py-5 py-lg-10">
                <!--begin::Logo-->
                <!--end::Logo-->
                <!--begin::Title-->
                <h1 class="fs-1 fw-bolder text-gray-900 mb-5">Senha alterada com sucesso!</h1>
                <!--end::Title-->
                <!--begin::Message-->
                <div class="fs-5 fw-semibold text-gray-500 mb-6">Você já pode realizar login com sua nova senha.
                    <a
                    href="{% url 'login' %}"
                    class="link-primary fw-bold fs-5"
                    data-kt-translate="password-reset-head-link">
                    Login
                  </a>
                </div>
                <!--end::Message-->
                <!--begin::Link-->
                <!--end::Link-->
                <!--begin::Illustration-->
                <div class="mb-0">
                    <img src="{% static 'media/auth/ok.png' %}" class="mw-100 mh-300px theme-light-show" alt="Sucesso">
                </div>
                <!--end::Illustration-->
            </div>
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Content-->
</div>
{% endblock layout-style %}
