{% extends 'layout/_default.html' %} 
{% load i18n static crispy_forms_tags %} 

{% block layout-style %}
<div class="d-flex flex-column flex-lg-row flex-column-fluid">
  <style>body { background-image: url('{% static 'media/auth/bg8.jpg' %} '); }</style>
    <!--begin::Body-->
    <div class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end p-12">
        <!--begin::Wrapper-->
        
        <div class="bg-body d-flex flex-center rounded-4 w-md-600px p-10">
          
            <!--begin::Content-->
            <div class="w-md-400px d-flex flex-column align-items-center">
                <div class="mb-14">
                  <a href="{% url 'home' %}" class="">
                      <img alt="Biopark Log" src="{% static 'media/logos/biopark-default.png' %}" class="h-80px">
                  </a>
                </div>
                <!--begin::Form-->
                <form class="card shadow-none" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                      <div class="text-center">
                        <h1 class="fw-bolder text-gray-900 mb-5">Redefinição de senha</h1>
                        <p class="text-muted">  </p>
                      </div>
                      <div class="pt-3" id="forgot">
                        <fieldset class="form-group">
                         {{ form|crispy }}
                         {{ form.errors }}
                        </fieldset>
                        <div class="submit d-flex justify-content-end">
                          <a href="{% url 'login' %}"
                            class="btn btn-lg btn-light-primary mx-5 fw-bold"
                            data-kt-translate="password-reset-cancel">
                            Cancelar
                          </a>
                          <button id="kt_password_reset_submit"
                            class="btn btn-primary me-2"
                            data-kt-translate="password-reset-submit"
                            type="submit">
                          <!--begin::Indicator label-->
                          <span class="indicator-label">Enviar</span>
                         </button>
                        </div>
                      </div>
                    </div>
                  </form>
                <!--end::Form-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Body-->
    <!--begin::Aside-->
    <div class="d-flex flex-lg-row-fluid">
        <!--begin::Content-->
        <div class="d-flex flex-column flex-center pb-0 pb-lg-10 p-10 w-100">
            <!--begin::Image-->
            <img class="theme-light-show mx-auto mw-100 w-150px w-lg-300px mb-10 mb-lg-20" src="{% static 'media/auth/agency.png' %}" alt="">
            <!--end::Text-->
        </div>
        <!--end::Content-->
    </div>
    <!--begin::Aside-->
</div>
{% endblock layout-style %}