{% extends 'layout/_default.html' %}
{% load static crispy_forms_tags widget_tweaks %}

{% block content %}
<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
    <div th:replace="${@theme.getView('partials/sidebar-layout/_page-title.html')}"></div>
    <!--begin::Actions-->
    <div class="d-flex flex-column flex-center py-7 py-lg-15 px-5 px-md-15 w-100">
        <iframe style="width: 100%; height:800px"src="http://localhost:3000/d/5xStrXU4z/dashboardscpa?kiosk"></iframe>
      </div>
    <!--end::Actions-->
    </div>
</div>
{% endblock content %}
